flows/Candidate_Wizard-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>BA_BS</name>
        <choiceText>BA/BS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BA/BS</stringValue>
        </value>
    </choices>
    <choices>
        <name>GED_HS_Diploma</name>
        <choiceText>GED/HS Diploma</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GED/HS Diploma</stringValue>
        </value>
    </choices>
    <choices>
        <name>JD</name>
        <choiceText>JD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>JD</stringValue>
        </value>
    </choices>
    <choices>
        <name>MA_MS_MBA</name>
        <choiceText>MA/MS/MBA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MA/MS/MBA</stringValue>
        </value>
    </choices>
    <choices>
        <name>MD</name>
        <choiceText>MD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MD</stringValue>
        </value>
    </choices>
    <choices>
        <name>PhD</name>
        <choiceText>PhD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PhD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Post_Doc</name>
        <choiceText>Post Doc</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Post Doc</stringValue>
        </value>
    </choices>
    <interviewLabel>Candidate Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Candidate Wizard</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Candidate</name>
        <label>Create Candidate</label>
        <locationX>481</locationX>
        <locationY>304</locationY>
        <connector>
            <targetReference>Candidate_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Employer__c</field>
            <value>
                <elementReference>Current_Employer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currently_Employed__c</field>
            <value>
                <elementReference>Currently_Employed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education__c</field>
            <value>
                <elementReference>Education</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Mobile_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Years_of_Experience__c</field>
            <value>
                <elementReference>Years_of_Experience</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordCreates>
    <screens>
        <name>Candidate_Created</name>
        <label>Candidate Created</label>
        <locationX>487</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CandidateCreated</name>
            <fieldText>The candidate you entered, {!First_Name} {!Last_Name}, has been created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Candidate_Name</name>
        <label>Candidate Name</label>
        <locationX>232</locationX>
        <locationY>64</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Candidate_s_Contact_Information</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Candidate_s_Contact_Information</name>
        <label>Candidate&apos;s Contact Information</label>
        <locationX>232</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Experience_and_Education</targetReference>
        </connector>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mobile_Phone</name>
            <dataType>String</dataType>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Experience_and_Education</name>
        <label>Experience and Education</label>
        <locationX>234</locationX>
        <locationY>306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Candidate</targetReference>
        </connector>
        <fields>
            <name>Years_of_Experience</name>
            <dataType>Number</dataType>
            <fieldText>Years of Experience</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Education</name>
            <choiceReferences>GED_HS_Diploma</choiceReferences>
            <choiceReferences>BA_BS</choiceReferences>
            <choiceReferences>MA_MS_MBA</choiceReferences>
            <choiceReferences>MD</choiceReferences>
            <choiceReferences>JD</choiceReferences>
            <choiceReferences>PhD</choiceReferences>
            <choiceReferences>Post_Doc</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Education</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Currently_Employed</name>
            <dataType>Boolean</dataType>
            <fieldText>Currently Employed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Current_Employer</name>
            <dataType>String</dataType>
            <fieldText>Current Employer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Candidate_Name</startElementReference>
</Flow>
